
# This worklflow will perform following actions when the code is pushed to main branch.
# - Run end to end test
# - Test linting.
# - Trigger release-please action to create release which needs e2etest & lint to pass first.
# 
# Maintainers:
#   - name: Nisha Sharma
#   - email: nisha.sharma@uni-jena.de

name: release-please 

on:
  push:
    branches:
      - main

jobs:
  e2etest:
    uses: NFDI4Chem/nmrium-react-wrapper/.github/workflows/e2e.yml@main 

  lint:
    uses: NFDI4Chem/nmrium-react-wrapper/.github/workflows/nodejs.yml@main 

  release-please:
    runs-on: ubuntu-latest
    needs: ['lint', 'e2etest']
    steps:
      - uses: google-github-actions/release-please-action@v3
        with:
          release-type: node
          package-name: release-please-action
          token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: true